apache-airflow[celery,redis,postgres]==2.10.5
apache-airflow-providers-openlineage==2.1.1
apache-airflow-providers-celery==3.10.4
dbt-core==1.9.4
dbt-postgres==1.9.0
pandas==2.2.3
protobuf==5.29.4
proto-plus==1.26.0
pyarrow==10.0.1
requests==2.32.3
apache-airflow-providers-astronomer-cosmos
